@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Body Font */
html, body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: #FFFFFF;
}

.active {
  color: var(--red)!important;
  border: 1px solid var(--red);
}

.bg {
  background-image: url(images/bg-dark.jpg);
  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #FFFFFF!important;
}

.navbar {
  height: 10%;
}
.navbar-nav li {
  padding: 0em 1.5em;
  font-size: 1.1em;
}

#home {
  min-height: 80%;
}
#home .btn {
  font-size: 1.3em;
}
#home .card {
  padding: 6.7em 0em;
}

#about {
  min-height: 80%;
}

.hide {
  display: none!important;
  visibility: hidden!important;
}
