body {
  min-height: 100%;
  height: 100%;
  max-height: 100%;

  /* background color */
  background-color: #f5f5f5;

  /* Font */
  font-family: 'Poppins', sans-serif;
}

/* Header */
header {
  margin-top: 0em!important;
}

@media (min-width: 769px) {
  header {
    margin: 3em 4em;
  }
}
@media (max-width: 768px) and (min-width:500px){
  header {
    margin: 2em 2em;
  }
}
@media (max-width: 499px) {
  header {
    margin: 2em 1em;
  }
}

/* Hide */
.hide {
  display: none!important;
  visibility: hidden!important;
}

/* Button */
.bar-btn {
  cursor: pointer;
}
@media (min-width: 501px) {
  .bar-line {
    width: 5.5em;
    margin: 1.25em 0em;
    border-bottom: 2px solid #000000;
  }
  .bar-line:last-child {
    width: 3.3em;
    transition: width .7s;
  }
  .bar-line-width {
    width: 5.5em!important;
  }
}
@media (max-width: 500px) {
  .bar-line {
    width: 4em;
    margin: 1.25em 0em;
    border: 1px solid #000000;
  }
  .bar-line:last-child {
    width: 2.3em;
    transition: width .7s;
  }
  .bar-line-width {
    width: 4em!important;
  }
}

/* Skills */
@media (min-width: 1280px) {
  .name h1 {
    font-size: 4.5rem;
  }
  .skills h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1279px) {
  .name h1 {
    font-size: 6.2vw;
  }
  .skills h4 {
    font-size: 3.7vw;
  }
}
.skills {
  margin-top: 2em;
}


/* typewriter Animation */
.typewriter-animation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}
.hide-typewriter-border {
  border-right: none!important;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from { border-color: transparent }
  50% { border-color: orange; }
  to { border-color: transparent; }
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 2em;
}
@media (min-width: 450px) {
  .footer-long {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 2em;
  }
}
.footer a, .footer-long a {
  color: #000000;
  margin: 0em 0.5em;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  border-top-right-radius: 40%;
  border-bottom-right-radius: 80%;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 23%; /* 25% from the top */
  width: 80%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 1s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #ffffff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 180px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Tech page */
.tech-text {
  font-size: 1.1em;
  margin-top: 1em;
}
.tech-list-inline .list-inline-item {
  margin: 0.5rem 2rem;
}

/* Contact page */
.contact-text {
  font-size: 1.1em;
  margin-top: 1rem;
}
.contact-list-inline .list-inline-item a {
  margin: 0.5rem 2rem;
  color: #000000;
}

/* About Page */
.about-text {
  font-size: 1.1em;
}

/* Services Page */
.services-text {
  font-size: 1.1em;
}
